<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>
	Here is the useless Contact Us page...  Those making this page have been sacked.  The people who sacked the people making the Contact Us page have been sacked.  The people who sacked the people who sacked the people making the Contact Us page have been sacked.  Your suggestions and ideas can only exist in their truest form: ephemeral.
</p>